*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: myFontBold;
  src: url("../fonts/clash_bold-webfont.woff2") format("woff2"),
    url("../fonts/clash_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: myFontRegular;
  src: url("../fonts/clash_regular-webfont.woff2") format("woff2"),
    url("../fonts/clash_regular-webfont.woff") format("woff");
}

body {
  overflow: hidden;
}

@media (min-width: 360px) and (max-width: 1700px) {
  body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url("../assets/backgrounds/Game-Background-Mobile.png");
    overflow: hidden;
  }
}
