.card {
  width: 150px;
  height: 215px;
  font: myFontRegular;
  cursor: pointer;
}

.card-front {
  height: 175px;
  z-index: 2;
  position: relative;
}

.card-back {
  z-index: 1;
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 7rem;
  line-height: 0.1;
}
