.card {
  width: 150px;
  height: 180px;
  font: myFontRegular;
  cursor: pointer;
  border-radius: 5px;
}

.card-front {
  height: 190px;
  width: 155px;
  z-index: 2;
  position: relative;
  object-fit: cover;
  object-position: 0 -30px;
  border-radius: 15px;
  padding: 0;
  margin: 0;
}

.card-back {
  z-index: 1;
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 7rem;
  line-height: 0.1;
}
