.game-page {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  height: 100%;
  font-family: myFontRegular;
  grid-template-rows: 100vh;
  align-items: center;
  background: linear-gradient(135deg, #4992ff 0%, #001682 100%);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 175px);
  width: 40vw;
  height: max-content;
  place-items: center;
  row-gap: 1.5rem;
  column-gap: 3rem;
  padding-top: 5rem;
  margin-left: 4rem;
}

.king-div {
  font-size: 3rem;
  margin-top: 9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 0rem;
  gap: 4rem;
}

#king {
  width: 600px;
  height: 700px;
  /* box-shadow: inset 0px 5rem 5rem rgb(255, 255, 255),
    inset 0px -5rem 5rem rgb(255, 255, 255), 0px 0 10rem rgb(0, 0, 0); */
  border-radius: 15px;
}

.king-emote {
  width: 200px;
  position: relative;
  opacity: 0;
}

.king-emote.visible {
  transform-origin: bottom;
  animation: emote-pop-up 500ms ease;
  opacity: 1;
}

.score-board-div {
  font-size: 3rem;
  place-self: start end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem;
  color: white;
  background-color: rgb(23, 23, 23, 0.7);
  border-radius: 15px;
  margin-top: 1rem;
  margin-right: 1rem;
}

.score-board-div > p:last-child {
  margin-right: 0.25rem;
}

@keyframes emote-pop-up {
  0% {
    transform: scale3d(0, 0, 0);
    top: 225px;
    opacity: 0;
  }

  100% {
    transform: scale3d(1, 1, 1);
    top: 0px;
    opacity: 1;
  }
}
