.game-page {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  height: 100%;
  font-family: myFontRegular;
  grid-template-rows: 100vh;
  align-items: flex-start;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 175px);
  width: 40vw;
  height: max-content;
  place-items: center;
  row-gap: 1.5rem;
  column-gap: 3rem;
  padding-top: 5rem;
  margin-left: 4rem;
  margin-top: 7.5vh;
}

.king-div {
  font-size: 3rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  margin-left: 20vh;
}

#king {
  width: 25vw;
  height: 60vh;
  border-radius: 15px;
  position: absolute;
  top: 40vh;
  left: 7.5vh;
}

.king-emote {
  width: 200px;
  opacity: 0;
  position: relative;
  margin-top: 20vh;
}

.king-emote.visible {
  transform-origin: bottom;
  animation: emote-pop-up 500ms ease;
  opacity: 1;
}

@keyframes emote-pop-up {
  0% {
    transform: scale3d(0, 0, 0);
    top: 225px;
    opacity: 0;
  }

  100% {
    transform: scale3d(1, 1, 1);
    top: 0px;
    opacity: 1;
  }
}

.score-board-div {
  font-size: 3rem;
  place-self: start end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem;
  color: white;
  background-color: rgb(23, 23, 23, 0.8);
  border-radius: 15px;
  margin-top: 1rem;
  margin-right: 1rem;
}

.score-board-div > p:last-child {
  margin-right: 1.25rem;
}
