.game-page {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  height: 100%;
  font-family: myFontRegular;
  grid-template-rows: 100vh;
  align-items: start;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 175px);
  width: 40vw;
  height: max-content;
  place-items: center;
  row-gap: 1.5rem;
  column-gap: 3rem;
  padding-top: 5rem;
  margin: 0 auto;
}

.king-div {
  font-size: 3rem;
  padding-top: 7.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  gap: 4rem;
}

#king {
  width: 400px;
  height: 500px;
}

.king-emote {
  width: 200px;
  position: relative;
  opacity: 0;
}

.king-emote.visible {
  transform-origin: bottom;
  animation: emote-pop-up 500ms ease;
  opacity: 1;
}

.score-board-div {
  font-size: 3rem;
  place-self: start end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 1rem;
  color: white;
}

@keyframes emote-pop-up {
  0% {
    transform: scale3d(0, 0, 0);
    top: 225px;
    opacity: 0;
  }

  100% {
    transform: scale3d(1, 1, 1);
    top: 0px;
    opacity: 1;
  }
}
