.home-page {
  display: flex;
  font-family: myFontBold;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  height: 100vh;
  --translate-height: 325px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: -5rem;
  padding-top: 10vh;
}

.logo-container.start {
  transform-origin: 54% bottom;
  animation: grow 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
}

.logo {
  font-size: 4.75rem;
  line-height: 0.85;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px black;
  text-align: right;
  position: relative;
  left: 12.5px;
  -webkit-text-stroke: 3px rgb(75, 75, 75);
}

.logo:last-child {
  font-size: 6.5rem;
}

#crown-icon {
  width: 175px;
  position: relative;
}

#magic-items {
  width: 300px;
  height: 450px;
  position: relative;
  top: -75px;
  left: 75px;
}

.btn {
  font-size: 4rem;
  cursor: pointer;
  position: relative;
  align-self: center;
}

.btn.start {
  animation: grow 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
}

@keyframes grow {
  0% {
    transform: scale3d(0, 0, 0);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.btn-shadow {
  display: inline-block;
  margin: 5px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
  background: none;
  outline: none;
  border: none;
}

.btn-shadow::before {
  content: "";
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: 0;
  border-radius: 2em;
  filter: blur(14px) brightness(0.9);
}

.btn-shadow span {
  display: inline-block;
  transform-style: preserve-3d;
  transition: 0.1s ease-out;
  padding: 16px 60px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
}

.btn-shadow:hover {
  color: rgb(255, 255, 255);
}

.btn-shadow:hover span {
  filter: brightness(0.9) contrast(1.2);
  transform: scale(0.96);
}

.btn-shadow:hover::before {
  bottom: 8px;
  filter: blur(6px) brightness(0.8);
  left: 15px;
  right: 15px;
}

.btn-shadow--orange span {
  background: rgb(255, 183, 0);
  padding: 3.5rem 3rem;
  box-shadow: inset 0 -0.5rem 0 rgb(255, 157, 28),
    inset 0 0.5rem 0 rgb(255, 157, 28), inset 0.5rem 0 0 rgb(255, 157, 28),
    inset -0.5rem 0 0 rgb(255, 157, 28), 0 0.5rem 1rem rgb(47, 47, 47);
  font-family: myFontRegular;
  text-shadow: 0 3px 0px rgb(59, 59, 59);
  -webkit-text-stroke: 1px rgb(75, 75, 75);
  outline: 2px solid rgb(59, 59, 59);
}

.btn-pushable span {
  border-radius: 20px;
  border-bottom: 10px solid rgb(201, 131, 0);
}

.btn-pushable span:active {
  transform: translateY(10px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.app-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  align-self: flex-end;
  width: 100%;
}

.btn-svgs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.btn-svgs.start {
  animation: pop-up 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
}

@keyframes pop-up {
  0% {
    transform: translateY(var(--translate-height));
  }

  100% {
    transform: translateY(0);
  }
}

.app-svgs {
  width: 75px;
  cursor: pointer;
}

.tool-tip {
  position: absolute;
  transform: translateY(390px);
  opacity: 0;
  transition: all 1s ease;
  right: 100px;
  bottom: 0;
}

.tool-tip.visible {
  transform: translateY(150px);
  opacity: 1;
}

.tool-tip p {
  color: white;
  width: 375px;
  background-color: rgb(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgb(161, 161, 161);
  padding: 1rem 0.5rem;
  border-radius: 15px;
  position: absolute;
  text-align: center;
  right: 14rem;
  top: -1rem;
}

#king-tool-tip {
  width: 250px;
  transform: rotateY(180deg);
}

@media (min-width: 360px) and (max-width: 768px) {
  .home-page {
    display: flex;
    font-family: myFontBold;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    height: 100vh;
    padding-top: 10vh;
    --translate-height: 200px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 2rem;
  }

  .logo-container.start {
    transform-origin: 58% bottom;
    animation: grow 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
  }

  .logo {
    font-size: 2rem;
    line-height: 0.85;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7.5px black;
    text-align: right;
    position: relative;
    left: 12.5px;
    -webkit-text-stroke: 2px rgb(75, 75, 75);
  }

  .logo:last-child {
    font-size: 2.75rem;
  }

  #crown-icon {
    width: 75px;
    position: relative;
  }

  #magic-items {
    width: 125px;
    height: 187.5px;
    position: relative;
    top: -25px;
    left: 45px;
  }

  .btn {
    font-size: 2rem;
    cursor: pointer;
  }

  .btn.start {
    transform-origin: center;
    animation: grow 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
  }

  .btn-shadow {
    display: inline-block;
    margin: 5px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    background: none;
    outline: none;
    border: none;
  }

  .btn-shadow::before {
    content: "";
    height: 40px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: 0;
    border-radius: 2em;
    filter: blur(14px) brightness(0.9);
  }

  .btn-shadow span {
    display: inline-block;
    transform-style: preserve-3d;
    transition: 0.1s ease-out;
    padding: 16px 60px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
  }

  .btn-shadow:hover {
    color: rgb(255, 255, 255);
  }

  .btn-shadow:hover span {
    filter: brightness(0.9) contrast(1.2);
    transform: scale(0.96);
  }

  .btn-shadow:hover::before {
    bottom: 8px;
    filter: blur(6px) brightness(0.8);
    left: 15px;
    right: 15px;
  }

  .btn-shadow--orange span {
    background: rgb(255, 183, 0);
    padding: 1.25rem;
    box-shadow: inset 0 -0.25rem 0 rgb(255, 157, 28),
      inset 0 0.25rem 0 rgb(255, 157, 28), inset 0.25rem 0 0 rgb(255, 157, 28),
      inset -0.25rem 0 0 rgb(255, 157, 28), 0 0.25rem 1rem rgb(47, 47, 47);
    font-family: myFontRegular;
    text-shadow: 0 2px 0px rgb(59, 59, 59);
    -webkit-text-stroke: 1px rgb(75, 75, 75);
    outline: 2px solid rgb(59, 59, 59);
  }

  .btn-pushable span {
    border-radius: 20px;
    border-bottom: 7.5px solid rgb(201, 131, 0);
  }

  .btn-pushable span:active {
    transform: translateY(10px);
    border-bottom-width: 2px;
    box-shadow: none;
  }

  .app-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    padding-bottom: 1vh;
    padding-right: 0.25rem;
  }

  .btn-svgs {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btn-svgs.start {
    animation: pop-up 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
  }

  .app-svgs {
    width: 40px;
    cursor: pointer;
  }

  .tool-tip {
    position: absolute;
    transform: translateY(250px);
    opacity: 0;
    transition: all 1s ease;
    right: 50px;
    bottom: 0;
  }

  .tool-tip.visible {
    transform: translateY(80px);
    opacity: 1;
  }

  .tool-tip p {
    color: white;
    width: 200px;
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgb(161, 161, 161);
    padding: 0.5rem 0.25rem;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    right: 7rem;
    top: -1.5rem;
    font-size: 0.75rem;
  }

  #king-tool-tip {
    width: 150px;
    transform: rotateY(180deg);
  }
}

@media (min-width: 769px) and (max-width: 1700px) {
  .home-page {
    display: flex;
    font-family: myFontBold;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    height: 100vh;
    --translate-height: 275px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .logo-container.start {
    transform-origin: 54% bottom;
    animation: grow 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
  }

  .logo {
    font-size: 3.5rem;
    line-height: 0.85;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7.5px black;
    text-align: right;
    position: relative;
    left: 12.5px;
    -webkit-text-stroke: 2px rgb(75, 75, 75);
  }

  .logo:last-child {
    font-size: 5rem;
  }

  #crown-icon {
    width: 150px;
    position: relative;
  }

  #magic-items {
    width: 225px;
    height: 337.5px;
    position: relative;
    top: -45px;
    left: 60px;
  }

  .btn {
    font-size: 3.5rem;
    cursor: pointer;
  }

  .btn.start {
    transform-origin: center;
    animation: grow 1.5s cubic-bezier(0.3, 0.22, 0.34, 0.95);
  }

  .btn-shadow {
    display: inline-block;
    margin: 5px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    background: none;
    outline: none;
    border: none;
    align-self: center;
  }

  .btn-shadow::before {
    content: "";
    height: 40px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: 0;
    border-radius: 2em;
    filter: blur(14px) brightness(0.9);
  }

  .btn-shadow span {
    display: inline-block;
    transform-style: preserve-3d;
    transition: 0.1s ease-out;
    padding: 16px 60px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
  }

  .btn-shadow:hover {
    color: rgb(255, 255, 255);
  }

  .btn-shadow:hover span {
    filter: brightness(0.9) contrast(1.2);
    transform: scale(0.96);
  }

  .btn-shadow:hover::before {
    bottom: 8px;
    filter: blur(6px) brightness(0.8);
    left: 15px;
    right: 15px;
  }

  .btn-shadow--orange span {
    background: rgb(255, 183, 0);
    padding: 2rem;
    box-shadow: inset 0 -0.25rem 0 rgb(255, 157, 28),
      inset 0 0.25rem 0 rgb(255, 157, 28), inset 0.25rem 0 0 rgb(255, 157, 28),
      inset -0.25rem 0 0 rgb(255, 157, 28), 0 0.25rem 1rem rgb(47, 47, 47);
    font-family: myFontRegular;
    text-shadow: 0 2px 0px rgb(59, 59, 59);
    -webkit-text-stroke: 1px rgb(75, 75, 75);
    outline: 2px solid rgb(59, 59, 59);
  }

  .btn-pushable span {
    border-radius: 20px;
    border-bottom: 10px solid rgb(201, 131, 0);
  }

  .btn-pushable span:active {
    transform: translateY(10px);
    border-bottom-width: 2px;
    box-shadow: none;
  }

  .app-btns {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-bottom: 1vh;
    padding-right: 0.25rem;
    align-items: flex-end;
  }

  .btn-svgs {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0;
  }

  .app-svgs {
    width: 55px;
  }

  .tool-tip {
    position: absolute;
    transform: translateY(250px);
    opacity: 0;
    transition: all 1s ease;
    right: 75px;
    bottom: 0;
  }

  .tool-tip.visible {
    transform: translateY(125px);
    opacity: 1;
  }

  .tool-tip p {
    color: white;
    width: 300px;
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgb(161, 161, 161);
    padding: 0.5rem 0.25rem;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    right: 14rem;
    top: -2.5rem;
    font-size: 1.25rem;
  }

  #king-tool-tip {
    width: 250px;
    transform: rotateY(180deg);
  }
}
