.intro-page {
  height: 100vh;
  width: 100%;
  font-family: myFontIntro;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  --drop-shadow-size: 5rem;
}

.intro-logo {
  font-size: 7rem;
  padding: 3rem 6rem;
  border-radius: 40%;
  opacity: 0;
  --drop-shadow-size: 5rem;
}

.intro-logo.start {
  animation: intro 1.6s linear;
  animation-delay: 25ms;
}

.intro-logo > p {
  line-height: 0.75;
}

.last-logo-line {
  width: max-content;
  display: flex;
  gap: 0.4rem;
}

@font-face {
  font-family: myFontIntro;
  src: url("../fonts/logo-font.otf");
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  10% {
    opacity: 1;
    transform: scale(1);
    filter: drop-shadow(0 0 0rem rgba(255, 255, 255, 0.8));
  }

  20% {
    filter: drop-shadow(0 0 var(--drop-shadow-size) rgba(255, 255, 255, 0.8));
  }

  70% {
    filter: drop-shadow(0 0 0rem rgba(255, 255, 255, 0.8));
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .intro-logo {
    font-size: 5rem;
    padding: 2rem 4rem;
    border-radius: 40%;
    opacity: 0;
    --drop-shadow-size: 4rem;
  }

  .last-logo-line {
    width: max-content;
    display: flex;
    gap: 0.25rem;
  }
}

@media (min-width: 769px) and (max-width: 1700px) {
}
