.loading-page {
  display: flex;
  font-family: myFontBold;
  height: 100dvh;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.fade-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: screen-fade-in 1s ease;
  background-color: black;
  animation-fill-mode: forwards;
}

@keyframes screen-fade-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading-page .logo,
.loading-page #crown-icon {
  position: relative;
  top: -0.25vh;
}

.loading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progress {
  color: white;
  text-shadow: 0 0 10px black;
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  font-size: 3rem;
  position: relative;
  bottom: -25px;
  line-height: 1;
}

.loading-wrapper {
  height: 3vh;
  background-color: black;
  border-top: 4px solid black;
  width: 100dvw;
}

#loader {
  background: linear-gradient(
    180deg,
    rgb(0, 153, 255) 0%,
    rgb(0, 153, 255) 50%,
    #0a6cff 50%,
    #0a6cff 100%
  );
  animation: loading 5s linear;
  display: block;
  height: 100%;
}

@keyframes loading {
  0% {
    width: 0;
  }

  100% {
    width: 100dvw;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  #progress {
    text-shadow: 0 0 3.5px black;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    font-size: 1.5rem;
    bottom: -15px;
  }

  .loading-page {
    padding-top: 10vh;
  }

  .loading-page .logo,
  .loading-page #crown-icon {
    position: relative;
    top: -0.35vh;
  }

  .loading-wrapper {
    height: 3vh;
    background-color: black;
    border-top: 2.5px solid black;
    width: 100dvw;
  }
}

@media (min-width: 769px) and (max-width: 1700px) {
  .loading-page .logo,
  .loading-page #crown-icon {
    position: relative;
    top: -0.225vh;
  }

  .loading-page .logo:first-child {
    position: relative;
    top: -0.2vh;
  }
}
